.btn:active {
  background-color: #000000;
}

.btn-dark:active {
  background-color: #000000;
}

.container {
  background-color: #dcdcdc;
  margin-top: 90px;
  padding-top: 10px;
}

.spaceBefore {
  padding-top: 10px;
}

.spaceAfter {
  padding-bottom: 10px;
}

.spaceRight {
  padding-right: 10px;
}

.largeLabel {
  width: 100px;
}

.largeButton {
  background-color: #000000;

}

.navbarColor {
  background-color: #78BE43;
}

.login {
  background-color: #78BE43;
  width: 700px;
  margin: auto 100px;
  padding: 50px;
  border-radius: 10px;
}

.lightText {
  color: white;
}

.rightText {
  text-align: right;
}

.largeMarginTop {
  margin-top: 100px;
}

.center {
  margin: auto;
}

.switchButton input[type='radio'] {
  display: none;
}

.switchButton label {
  background-color: #292b2c;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 2px;
  width: 100px;
  text-align: center;
}

.switchButton input[type='radio']:checked+label {
  border: 2px solid #78BE43;
  background-color: #78BE43;
  width: 100px;
}

.switchButton table,tr,td {
  padding: 0;
  margin: 0;
}

.switchButton {
  background-color: #78BE43;
  border-radius: 3px;
  padding: 0 5px 0 5px;
  width: 200px;
}

.loginMessages {
  max-width: 700px;
}

.btn-group {
   margin: 0 auto;
 }

.error-message {
  width: 700px;
}

.message-none {
  display: none;
}

.pagination {
  background-color: #292b2c;
}

.page-link {
  background-color: #292b2c;
}

.page-item {
  background-color: #292b2c;
}

.chartContainer {
  display: flex;
  flex-direction: row;
}

