.btn {
  border-color: black;
}

.btn:active {
  background-color: #000000;
}
.btn-dark:active {
  background-color: #000000;
}

.container {
  background-color: #dcdcdc;
  margin-top: 90px;
  padding-top: 10px;
}

.spaceBefore {
  padding-top: 10px;
}

.spaceAfter {
  padding-bottom: 10px;
}

.spaceRight {
  padding-right: 10px;
}

.largeLabel {
  width: 100px;
}

.largeButton {
  background-color: #000000;

}

.navbarColor {
  background-color: #78BE43;
}

.login {
  background-color: #78BE43;
  width: 700px;
  margin: auto 100px;
  padding: 50px;
  border-radius: 10px;
}

.lightText {
  color: white;
}

.rightText {
  text-align: right;
}

.largeMarginTop {
  margin-top: 100px;
}

.center {
  margin: auto;
}

.switchButton input[type='radio'] {
  display: none;
}

.switchButton label {
  background-color: #292b2c;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 2px;
  width: 100px;
  text-align: center;
}

.switchButton input[type='radio']:checked+label {
  border: 2px solid #78BE43;
  background-color: #78BE43;
  width: 100px;
}

.switchButton table,tr,td {
  padding: 0;
  margin: 0;
}

.switchButton {
  background-color: #78BE43;
  border-radius: 3px;
  padding: 0 5px 0 5px;
  width: 200px;
}

.loginMessages {
  max-width: 700px;
}

.btn-group {
   margin: 0 auto;
 }

.error-message {
  width: 700px;
}

.message-none {
  display: none;
}

.pagination {
  background-color: #292b2c;
}

.page-link {
  background-color: #292b2c;
}

.page-item {
  background-color: #292b2c;
}

.chartContainer {
  display: flex;
  flex-direction: row;
}

.checkmarkContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-right: 50px;
}

.checkmarkContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.checkmarkContainer:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkmarkContainer input:checked ~ .checkmark {
  background-color: #78BE43;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkmarkContainer input:checked ~ .checkmark:after {
  display: block;
}

.checkmarkContainer .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 13px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

